streamlit
chromadb
langchain-text-splitters
langchain-community
sentence-transformers
google-generativeai
paddlepaddle
PyMuPDF
fpdf
pyvis
networkx
paddleocr==2.7.3
opencv-python-headless
torchvision
numpy<2.0.0
groq